@model StartIdea.UI.Areas.ProductOwner.ViewModels.ProductBacklogVM

@{
    ViewBag.Title = "Cadastro";
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Cadastro de Backlog do Produto</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-xs-12 col-sm-2 form-group">
                    @Html.LabelFor(model => model.Prioridade)
                    @Html.EditorFor(model => model.Prioridade, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Prioridade, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-12 col-sm-10 form-group">
                    @Html.LabelFor(model => model.UserStory)
                    @Html.EditorFor(model => model.UserStory, new { htmlAttributes = new { @class = "form-control", @placeholder = "Exemplo: Como vendedor eu gostaria de verificar se um livro está disponível no estoque para venda." } })
                    @Html.ValidationMessageFor(model => model.UserStory, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-2 form-group">
                    @Html.ActionLink("Voltar", "Index", "ProductBacklog", new { @class = "btn btn-default btn-block" })
                </div>
                <div class="col-xs-12 col-sm-offset-6 col-sm-2 form-group">
                    <button type="reset" class="btn btn-default btn-block">Cancelar</button>
                </div>
                <div class="col-xs-12 col-sm-2 form-group">
                    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                </div>
            </div>
        }
    </div>
</div>