@model StartIdea.UI.Areas.ProductOwner.ViewModels.ProductBacklogVM
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

@section CustomScript{
    <script type="text/javascript">
        var displayCreate = "@Model.DisplayCreate";
        var displayEdit = "@Model.DisplayEdit";

        if (displayEdit) {
            $("#popup-edit").modal('show');
        }
        if (displayCreate) {
            $("#popup-create").modal('show');
        }

        $(".edit").click(function () {
            var Id = $(this).attr("data-id");
            var url = "@Html.Raw(Url.Action("Index", new { FiltroUserStory = Model.FiltroUserStory, FiltroDataInicial = Model.FiltroDataInicial, FiltroDataFinal = Model.FiltroDataFinal, PaginaGrid = Model.PaginaGrid, IdEdit = 0 }))";

            window.location.href = url.replace("IdEdit=0", "IdEdit=" + Id);
        });

        $(".create").click(function () {
            var url = "@Html.Raw(Url.Action("Index", new { FiltroUserStory = Model.FiltroUserStory, FiltroDataInicial = Model.FiltroDataInicial, FiltroDataFinal = Model.FiltroDataFinal, PaginaGrid = Model.PaginaGrid, DisplayCreate = "show" }))";

            window.location.href = url;
        });

        $("#popup-edit, #popup-create").on("hide.bs.modal", function () {
            window.location.href = "@Html.Raw(Url.Action("Index", new { FiltroUserStory = Model.FiltroUserStory, FiltroDataInicial = Model.FiltroDataInicial, FiltroDataFinal = Model.FiltroDataFinal, PaginaGrid = Model.PaginaGrid, IdEdit = "" }))"
        });

    </script>
}

@Html.Partial("_Create", Model)
@Html.Partial("_Edit", Model)

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Backlogs do Produto</h1>
        </div>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("Index", "ProductBacklog", FormMethod.Get))
    {
        <div class="col-md-6">
            <label>User Story</label>
            @Html.EditorFor(model => model.FiltroUserStory, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-2">
            <label>Data Inclusão (Inicial)</label>
            <div class="input-group date datepicker">
                @Html.EditorFor(model => model.FiltroDataInicial, new { htmlAttributes = new { @class = "form-control" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <label>Data Inclusão (Final)</label>
            <div class="input-group date datepicker">
                @Html.EditorFor(model => model.FiltroDataFinal, new { htmlAttributes = new { @class = "form-control" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

        </div>
        <div class="col-md-2">
            <label>&nbsp;</label>
            <button class="btn btn-default btn-block" type="submit">Buscar</button>
        </div>
    }
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-2 col-md-1 text-center">Id</th>
                        <th>User Story</th>
                        <th class="col-sm-2 text-center">Story Point</th>
                        <th class="col-sm-1 text-center">Prioridade</th>
                        <th class="col-sm-2 text-center">Data Inclusão</th>
                        <th class="col-sm-1" colspan="2">
                            <button class="btn btn-success btn-xs btn-block create">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductBacklogList)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserStory)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.StoryPoint)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Prioridade)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.DataInclusao)
                            </td>
                            <td>
                                <button class="btn btn-primary btn-xs btn-block edit" data-id="@item.Id">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-xs btn-block" href="@Url.Action("Delete", "ProductBacklog", new { Id = (item.Id) })" onclick="return confirm('Você tem certeza que deseja excluir esse registro?');">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            @Html.PagedListPager(Model.ProductBacklogList, PaginaGrid => Url.Action("Index", new { FiltroUserStory = Model.UserStory, FiltroDataInicial = Model.FiltroDataInicial, FiltroDataFinal = ViewBag.FiltroDataFinal, PaginaGrid }))
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>