@model StartIdea.UI.Areas.ProductOwner.ViewModels.ProductBacklogVM
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

@section CustomScript{
    <script type="text/javascript">
        var displayEdit = "@Model.DisplayEdit";
        if (displayEdit) {
            $("#popup-edit").modal('show');
        }

        $(".edit").click(function () {
            var id = $(this).attr("data-id");
            var url = "@Html.Raw(Url.Action("Index", new { pagina = ViewBag.Pagina, filtro = ViewBag.Filtro, filtroDataInicial = Model.filtroDataInicial, filtroDataFinal = Model.filtroDataFinal, id = 0 }))";

            window.location.href = url.replace("/0", "/" + id);
        });

        $("#popup-edit").on("hide.bs.modal", function () {
            var url = "@Html.Raw(Url.Action("Index", new { pagina = ViewBag.Pagina, filtro = ViewBag.Filtro, filtroDataInicial = Model.filtroDataInicial, filtroDataFinal = Model.filtroDataFinal, id = "" }))";

            window.location.href = url;
        });
    </script>
}

@Html.Partial("_Create", Model.ProductBacklogCreateVM)
@Html.Partial("_Edit", Model.ProductBacklogEdit)

<div class="page-header">
    <h1>Backlog do Produto <small>Cadastro</small></h1>
</div>

@using (Html.BeginForm("Index", "ProductBacklog", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-6">
            <label>Descrição</label>
            @Html.TextBox("contextoBusca", ViewBag.Filtro as string, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <label>Data Inicial Inclusão</label>
            @Html.TextBox("filtroDataInicial", Model.filtroDataInicial, new { @class = "form-control", @type = "date" })
        </div>
        <div class="col-md-2">
            <label>Data Final Inclusão</label>
            @Html.TextBox("filtroDataFinal", Model.filtroDataFinal, new { @class = "form-control", @type = "date" })
        </div>
        <div class="col-md-2">
            <label>&nbsp;</label>
            <button class="btn btn-default btn-block" type="submit">Buscar</button>
        </div>
    </div>
}
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-2 col-md-1 text-center">
                            @Html.DisplayNameFor(model => model.ProductOwner.Id)
                        </th>
                        <th class="col-sm-4 col-md-5">
                            @Html.DisplayNameFor(model => model.UserStory)
                        </th>
                        <th class="col-sm-2 text-center">
                            @Html.DisplayNameFor(model => model.StoryPoint)
                        </th>
                        <th class="col-sm-1 text-center">
                            @Html.DisplayNameFor(model => model.Prioridade)
                        </th>
                        <th class="col-sm-2 text-center">
                            @Html.DisplayNameFor(model => model.DataInclusao)
                        </th>
                        <th class="col-sm-1" colspan="2">
                            <button class="btn btn-success btn-xs btn-block" data-toggle="modal" data-target="#popup-create">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductBacklogList)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserStory)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.StoryPoint)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Prioridade)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.DataInclusao)
                            </td>
                            <td>
                                <button class="btn btn-primary btn-xs btn-block edit" data-id="@item.Id">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-xs btn-block" href="@Url.Action("Delete", "ProductBacklog", new { Id = (item.Id) })" onclick="return confirm('Você tem certeza que deseja excluir esse registro?');">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            @Html.PagedListPager(Model.ProductBacklogList, pagina => Url.Action("Index", 
                                new { pagina, filtro = ViewBag.Filtro, filtroDataInicial = ViewBag.FiltroDataInicial, filtroDataFinal = ViewBag.FiltroDataFinal }))
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>