@model StartIdea.UI.Areas.ProductOwner.ViewModels.ProductBacklogVM
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Backlog do Produto</h1>
        </div>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("Index", "ProductBacklog", FormMethod.Get))
    {
        <div class="col-sm-4 col-md-6">
            <label>User Story</label>
            @Html.EditorFor(model => model.FiltroUserStory, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-sm-3 col-md-2">
            <label>Data Inclusão (Inicial)</label>
            <div class="input-group date datepicker">
                @Html.EditorFor(model => model.FiltroDataInicial, new { htmlAttributes = new { @class = "form-control" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-3 col-md-2">
            <label>Data Inclusão (Final)</label>
            <div class="input-group date datepicker">
                @Html.EditorFor(model => model.FiltroDataFinal, new { htmlAttributes = new { @class = "form-control" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-2">
            <label>&nbsp;</label>
            <button class="btn btn-default btn-block" type="submit">Buscar</button>
        </div>
    }
</div>
<br>
<div class="row visible-xs">
    <div class="col-xs-12 form-group">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a class="btn btn-success btn-xs" title="Incluir" href="@Url.Action("Create")">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="@Html.Raw(Url.Action("Report", "ProductBacklog", new { FiltroUserStory = Model.FiltroUserStory, FiltroDataInicial = Model.FiltroDataInicial, FiltroDataFinal = Model.FiltroDataFinal }))" target="_blank" class="btn btn-success btn-xs" title="Imprimir">
                    <i class="glyphicon glyphicon-print"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="no-more-tables">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-1 text-center">Id</th>
                        <th>User Story</th>
                        <th class="col-sm-2 text-center">Story Point</th>
                        <th class="col-sm-1 text-center">Prioridade</th>
                        <th class="col-sm-3 col-md-2 text-center">Data Inclusão</th>
                        <th class="col-sm-1">
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-success btn-xs" title="Incluir" href="@Url.Action("Create")">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </a>
                                </div>
                                <div class="btn-group" role="group">
                                    <a href="@Html.Raw(Url.Action("Report", "ProductBacklog", new { FiltroUserStory = Model.FiltroUserStory, FiltroDataInicial = Model.FiltroDataInicial, FiltroDataFinal = Model.FiltroDataFinal }))" target="_blank" class="btn btn-success btn-xs" title="Imprimir">
                                        <i class="glyphicon glyphicon-print"></i>
                                    </a>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductBacklogList)
                    {
                        <tr>
                            <td data-title="Id" class="text-center">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td data-title="User Story">
                                @Html.DisplayFor(modelItem => item.UserStory)
                            </td>
                            <td data-title="Story Point" class="text-center">
                                @Html.DisplayFor(modelItem => item.StoryPoint)
                            </td>
                            <td data-title="Prioridade" class="text-center">
                                @Html.DisplayFor(modelItem => item.Prioridade)
                            </td>
                            <td data-title="Data Inclusão" class="text-center">
                                @Html.DisplayFor(modelItem => item.DataInclusao)
                            </td>
                            <td>
                                <div class="btn-group btn-group-justified" role="group" aria-label="operacoes">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-primary btn-xs" title="Editar" href="@Url.Action("Edit", new { id = item.Id })">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-danger btn-xs" title="Excluir" href="@Url.Action("Delete", "ProductBacklog", new { Id = (item.Id) })" onclick="return confirm('Você tem certeza que deseja excluir esse registro?');">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            @Html.PagedListPager(Model.ProductBacklogList, PaginaGrid => Url.Action("Index", new { FiltroUserStory = Model.UserStory, FiltroDataInicial = Model.FiltroDataInicial, FiltroDataFinal = ViewBag.FiltroDataFinal, PaginaGrid }))
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>