@model StartIdea.UI.ViewModels.DetalheSprintVM

@{
    ViewBag.Title = "Detalhes - Sprint";
}

@section CustomScript{
    <script type="text/javascript">
        $('#tabs-container').tabs();

        $(".detalhes-reuniao").click(function () {
            var Ata = $(this).attr("data-ata");
            $("#ata").text(Ata);
            $("#popup-ata").modal('show');
        });


    </script>
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Sprint - Detalhes</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <span><b>Data de Cadastro:</b> @Model.sprint.DataCadastro.ToString("dd/MM/yyyy")</span>
    </div>
    <div class="col-md-3">
        <span><b>Data Inicial:</b> @Model.sprint.DataInicial</span>
    </div>
    <div class="col-md-3">
        <span><b>Data Final:</b> @Model.sprint.DataFinal</span>
    </div>
    @if (Model.sprint.DataCancelamento != null)
    {
        <div class="col-md-3">
            <span><b>Data Cancelamento:</b> @Model.sprint.DataCancelamento</span>
        </div>
    }

</div>
<br />
@if (Model.sprint.DataCancelamento != null)
{
    <div class="row">
        <div class="col-md-12">
            <label>Motivo do Cancelamento</label>
            <p>@Model.sprint.MotivoCancelamento</p>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <label>Objetivo da Sprint</label>
        <p>@Model.sprint.Objetivo</p>
    </div>
</div>
<br>

<div class="row">
    <div class="col-xs-12 form-group">
        <div id="tabs-container">
            <ul>
                <li><a href="#tab-sprint">Backlogs do Produto</a></li>
                <li><a href="#tab-reuniao">Reuniões</a></li>
                <li><a href="#tab-burndown">Gráfico de Burndown</a></li>
            </ul>
            <div id="tab-sprint" class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>Descrição</th>
                                        <th class="text-center col-sm-1">Tamanho</th>
                                        <th class="text-center col-sm-1">Prioridade</th>
                                        <th class="text-center col-sm-1">Detalhes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.sprint.SprintBacklogs.OrderBy(sb => sb.ProductBacklog.Prioridade))
                                    {
                                        <tr>
                                            <td>@(item.ProductBacklog.UserStory.Length > 150 ? item.ProductBacklog.UserStory.Substring(0, 150) + "..." : item.ProductBacklog.UserStory)</td>
                                            <td class="text-center">@item.ProductBacklog.StoryPoint</td>
                                            <td class="text-center">@item.ProductBacklog.Prioridade</td>
                                            <td class="text-center">
                                                <a class="btn btn-link btn-xs btn-block btn-detalhe-backlog" href="@Url.Action("Index", "Tarefas", new { productBacklogId = item.ProductBacklog.Id, sprintId = Model.sprint.Id })">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-reuniao" class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2 col-md-1 text-center">Id</th>
                                        <th>Local</th>
                                        <th class="col-sm-2 text-center">Tipo de Reunião</th>
                                        <th class="col-sm-2 text-center">Data Inicial</th>
                                        <th class="col-sm-2 text-center">Data Final</th>
                                        <th class="col-sm-1 text-center">
                                            Detalhes
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.sprint.Reunioes.OrderBy(r => r.DataInicial))
                                    {
                                        <tr>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Local)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.TipoReuniao)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.DataInicial)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.DataFinal)
                                            </td>
                                            <td>
                                                <button class="btn btn-link btn-xs btn-block detalhes-reuniao" data-ata="@item.Ata">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-reuniao" class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        teste
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("< Voltar", "Index", "Sprint", new { @class = "btn btn-default btn-block" })
    </div>
</div>
<br />
<br />
<div class="modal fade" tabindex="-1" role="dialog" id="popup-ata">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Ata da Reunião</h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid" id="ata">
                </div>
            </div>
        </div>
    </div>
</div>