@model StartIdea.UI.ViewModels.SprintVM

@{
    ViewBag.Title = "Detalhes";
}

@section CustomScript{
    <script type="text/javascript">
        $('#tabs-container').tabs();

        $(".detalhes-reuniao").click(function () {
            var Ata = $(this).attr("data-ata");
            $("#ata").text(Ata);
            $("#popup-ata").modal('show');
        });
    </script>
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Sprint <small>Detalhes</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 col-md-1">
        <label>Id: </label>
        @Model.SprintView.Id
    </div>
    <div class="col-sm-5 col-md-4">
        <label>Data Cadastro: </label>
        @Model.SprintView.DataCadastro
    </div>
</div>

<div class="row">
    <div class="col-sm-5 col-md-4">
        <label>Data Inicial: </label>
        @Model.SprintView.DataInicial
    </div>
    <div class="col-sm-5 col-md-4">
        <label>Data Final: </label>
        @Model.SprintView.DataFinal
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <label>Objetivo</label>
        <p>@Model.SprintView.Objetivo</p>
    </div>
</div>

@if (Model.SprintView.DataCancelamento != null)
{
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <label>Data Cancelamento</label>
            <p>@Model.SprintView.DataCancelamento</p>
        </div>
        <div class="col-sm-9">
            <label>Motivo do Cancelamento</label>
            <p>@Model.SprintView.MotivoCancelamento</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12 form-group">
        <div id="tabs-container">
            <ul>
                <li><a href="#tab-sprint">Backlog do Produto</a></li>
                <li><a href="#tab-reuniao">Reuniões</a></li>
                <li><a href="#tab-burndown">Gráfico de Burndown</a></li>
            </ul>
            <div id="tab-sprint" class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="no-more-tables">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-sm-1 text-center">Id</th>
                                        <th>User Story</th>
                                        <th class="col-sm-2 text-center">Story Point</th>
                                        <th class="col-sm-1 text-center">Prioridade</th>
                                        <th class="col-sm-1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SprintView.SprintBacklogs.OrderBy(sb => sb.ProductBacklog.Prioridade))
                                    {
                                        <tr>
                                            <td data-title="Id" class="text-center">@item.ProductBacklog.Id</td>
                                            <td data-title="User Story">@(item.ProductBacklog.UserStory.Length > 150 ? item.ProductBacklog.UserStory.Substring(0, 150) + "..." : item.ProductBacklog.UserStory)</td>
                                            <td data-title="Story Point" class="text-center">@item.ProductBacklog.StoryPoint</td>
                                            <td data-title="Prioridade" class="text-center">@item.ProductBacklog.Prioridade</td>
                                            <td class="text-center">
                                                <a class="btn btn-default btn-xs btn-block" title="Detalhes" href="@Url.Action("Index", "Tarefa", new { productBacklogId = item.ProductBacklog.Id, sprintId = Model.SprintView.Id })">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tab-reuniao" class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="no-more-tables">
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th class="col-sm-1 text-center">Id</th>
                                        <th>Local</th>
                                        <th class="col-sm-2 text-center">Tipo Reunião</th>
                                        <th class="col-sm-3 col-md-2 text-center">Data Inicial</th>
                                        <th class="col-sm-3 col-md-2 text-center">Data Final</th>
                                        <th class="col-sm-1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SprintView.Reunioes.OrderBy(r => r.DataInicial))
                                    {
                                        <tr>
                                            <td data-title="Id" class="text-center">@item.Id</td>
                                            <td data-title="Local">@item.Local</td>
                                            <td data-title="Tipo Reunião" class="text-center">@item.TipoReuniao</td>
                                            <td data-title="Data Inicial" class="text-center">@item.DataInicial</td>
                                            <td data-title="Data Final" class="text-center">@item.DataFinal</td>
                                            <td>
                                                <button class="btn btn-default btn-xs btn-block detalhes-reuniao" data-ata="@item.Ata">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tab-burndown" class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        @if (Model.SprintView.DataCancelamento != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                <p>Não é possivel verificar o gráfico, pois a sprint foi cancelada!</p>
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-info" role="alert">
                                <p><a href="@Url.Action("Index", "BurndownChart", new { area = "", id = Model.SprintView.Id })" class="alert-link">Clique aqui para verificar o gráfico!</a></p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2 form-group">
        @Html.ActionLink("< Voltar", "Index", "Sprint", new { @class = "btn btn-default btn-block" })
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="popup-ata">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Ata da Reunião</h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid" id="ata">
                </div>
            </div>
        </div>
    </div>
</div>