@model PagedList.IPagedList<StartIdea.Model.ScrumEventos.Sprint>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Sprints</h1>
        </div>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("Index", "Sprint", FormMethod.Get))
    {
        <div class="col-md-6">
            <label>Objetivo</label>
            @Html.TextBox("contextoBusca", ViewBag.Filtro as string, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <label>Data Inicio</label>
            <div class="input-group date datepicker">
                @Html.TextBox("dataInicial", ViewBag.DataInicialAtual as string, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <label>Data Fim</label>
            <div class="input-group date datepicker">
                @Html.TextBox("dataFinal", ViewBag.DataFinalAtual as string, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <label>&nbsp;</label>
            <input type="submit" value="Buscar" class="btn btn-block" />
        </div>
    }
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-9">Objetivo</th>
                        <th class="text-center col-sm-1">Data Inicio</th>
                        <th class="text-center col-sm-1">Data Fim</th>
                        <th class="text-center col-sm-1">Detalhes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(item.Objetivo.Length > 130 ? item.Objetivo.Substring(0, 130) : item.Objetivo)</td>
                            <td class="text-center">@item.DataInicial.ToString("dd/MM/yyyy")</td>
                            <td class="text-center">@item.DataFinal.ToString("dd/MM/yyyy")</td>
                            <td class="text-center">
                                <a href="@Url.Action("Index", "ProductBacklog", new { sprintId = item.Id })">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, filtro = ViewBag.Filtro, dataInicial = ViewBag.DataInicialAtual, dataFinal = ViewBag.DataFinalAtual }))
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
