@model StartIdea.UI.ViewModels.SprintVM
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Sprints</h1>
        </div>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("Index", "Sprint", FormMethod.Get))
    {
        <div class="col-sm-4 col-md-6">
            <label>Objetivo</label>
            @Html.TextBox("contextoBusca", ViewBag.Filtro as string, new { @class = "form-control", @autofocus = "autofocus" })
        </div>
        <div class="col-sm-3 col-md-2">
            <label>Data Inicial</label>
            <div class="input-group date datepicker">
                @Html.TextBox("dataInicial", ViewBag.DataInicialAtual as string, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-3 col-md-2">
            <label>Data Final</label>
            <div class="input-group date datepicker">
                @Html.TextBox("dataFinal", ViewBag.DataFinalAtual as string, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-2">
            <label>&nbsp;</label>
            <input type="submit" value="Buscar" class="btn btn-block" />
        </div>
    }
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div id="no-more-tables">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-1 text-center">Id</th>
                        <th>Objetivo</th>
                        <th class="col-sm-3 col-md-2 text-center">Data Inicial</th>
                        <th class="col-sm-3 col-md-2 text-center">Data Final</th>
                        <th class="col-sm-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SprintList)
                    {
                        <tr>
                            <td data-title="Id" class="text-center">@item.Id</td>
                            <td data-title="Objetivo">@item.Objetivo</td>
                            <td data-title="Data Inicial" class="text-center">@item.DataInicial</td>
                            <td data-title="Data Final" class="text-center">@item.DataFinal</td>
                            <td>
                                <a class="btn btn-default btn-xs btn-block" title="Detalhes" href="@Url.Action("Details", "Sprint", new { Id = item.Id })">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            @Html.PagedListPager(Model.SprintList, pagina => Url.Action("Index", new { pagina, filtro = ViewBag.Filtro, dataInicial = ViewBag.DataInicialAtual, dataFinal = ViewBag.DataFinalAtual }))
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
