@model StartIdea.UI.ViewModels.ResetPasswordVM

@{
    ViewBag.Title = "Trocar Senha";
}

<div class="container form-login">
    @using (Html.BeginForm())
    {
        <h2 class="form-login-heading">Trocar Senha</h2>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TokenActivation)

        <div class="row">
            <div class="col-xs-12">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control email", @placeholder = "E-mail", @readonly = "readonly" } })
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control senha", @placeholder = "Senha", @autofocus = "autofocus" } })
                @Html.EditorFor(model => model.ConfirmaSenha, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirmação da Senha" } })
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Alterar</button>
    }
</div>