@model StartIdea.UI.Areas.ScrumMaster.ViewModels.SprintBacklogVM
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

@section CustomScript{
    <script type="text/javascript">
        var displayMotivoCancelamento = "@Model.DisplayMotivoCancelamento";
        if (displayMotivoCancelamento) {
            $("#popup-motivo-cancelamento").modal('show');
        }

        $(".add").click(function () {
            var id = $(this).attr("data-id");
            var url = "@Html.Raw(Url.Action("Adicionar", new { id = 0, paginaProductBacklog = Model.PaginaGridProductBacklog, paginaSprintBacklog = Model.PaginaGridSprintBacklog }))";

            window.location.href = url.replace("/0", "/" + id);
        });

        $(".remove").click(function () {
            var id = $(this).attr("data-id");
            var url = "@Html.Raw(Url.Action("Index", new { id = 0, paginaProductBacklog = Model.PaginaGridProductBacklog, paginaSprintBacklog = Model.PaginaGridSprintBacklog }))";

            window.location.href = url.replace("/0", "/" + id);
        });
    </script>
}

@Html.Partial("_MotivoCancelamento", Model)


<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h3>Backlog do Produto</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div id="no-more-tables">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-1 text-center">Id</th>
                        <th>User Story</th>
                        <th class="col-sm-2 text-center">Story Point</th>
                        <th class="col-sm-1 text-center">Prioridade</th>
                        <th class="col-sm-3 col-md-2 text-center">Data Inclusão</th>
                        <th class="col-sm-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductBacklogList)
                    {
                        <tr>
                            <td data-title="Id" class="text-center">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td data-title="User Story">
                                @Html.DisplayFor(modelItem => item.UserStory)
                            </td>
                            <td data-title="Story Point" class="text-center">
                                @Html.DisplayFor(modelItem => item.StoryPoint)
                            </td>
                            <td data-title="Prioridade" class="text-center">
                                @Html.DisplayFor(modelItem => item.Prioridade)
                            </td>
                            <td data-title="Data Inclusão" class="text-center">
                                @Html.DisplayFor(modelItem => item.DataInclusao)
                            </td>
                            <td>
                                <button class="btn btn-success btn-xs btn-block add" title="Adicionar" data-id="@item.Id">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            @Html.PagedListPager(Model.ProductBacklogList, paginaProductBacklog => Url.Action("Index", new { paginaProductBacklog, paginaSprintBacklog = Model.PaginaGridSprintBacklog }))
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h3>Backlog da Sprint</h3>
        </div>
    </div>
</div>

@if (Model.SprintId == 0)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info" role="alert">
                <p>Não há sprint em andamento.</p>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <div id="no-more-tables">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-sm-1 text-center">Id</th>
                            <th>User Story</th>
                            <th class="col-sm-2 text-center">Story Point</th>
                            <th class="col-sm-1 text-center">Prioridade</th>
                            <th class="col-sm-3 col-md-2 text-center">Data Inclusão</th>
                            <th class="col-sm-1">
                                <a class="btn btn-primary btn-xs btn-block" title="Imprimir" href="@Url.Action("Report", "SprintBacklog")" target="_blank">
                                    <i class="glyphicon glyphicon-print"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SprintBacklogList)
                        {
                            <tr>
                                <td data-title="Id" class="text-center">
                                    @Html.DisplayFor(modelItem => item.ProductBacklog.Id)
                                </td>
                                <td data-title="User Story">
                                    @Html.DisplayFor(modelItem => item.ProductBacklog.UserStory)
                                </td>
                                <td data-title="Story Point" class="text-center">
                                    @Html.DisplayFor(modelItem => item.ProductBacklog.StoryPoint)
                                </td>
                                <td data-title="Prioridade" class="text-center">
                                    @Html.DisplayFor(modelItem => item.ProductBacklog.Prioridade)
                                </td>
                                <td data-title="Data Inclusão" class="text-center">
                                    @Html.DisplayFor(modelItem => item.ProductBacklog.DataInclusao)
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-xs btn-block remove" title="Remover" data-id="@item.Id">
                                        <i class="glyphicon glyphicon-minus"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                @Html.PagedListPager(Model.SprintBacklogList, paginaSprintBacklog => Url.Action("Index", new { paginaSprintBacklog, paginaProductBacklog = Model.PaginaGridProductBacklog }))
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
}