@model StartIdea.UI.Areas.Admin.ViewModels.UsuarioVM

@{
    ViewBag.Title = "Editar";
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Cadastro do Usuário</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div class="col-xs-12 col-sm-4 form-group">
                    @Html.LabelFor(model => model.CPF)
                    @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control cpf" } })
                    @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-6 col-sm-2 form-group">
                    <p>&nbsp;</p>
                    @Html.LabelFor(model => model.IsActive)
                    @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 form-group">
                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 form-group">
                    @Html.LabelFor(model => model.UserName)
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-1 form-group">
                    <label>&nbsp;</label>
                    @Html.ActionLink("Perfil", "Perfil", "Usuario", new { id = Model.Id }, new { @class = "btn btn-success btn-block" })
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-2 form-group">
                    @Html.ActionLink("Voltar", "Index", "Usuario", new { @class = "btn btn-default btn-block" })
                </div>
                <div class="col-xs-12 col-sm-offset-6 col-sm-2 form-group">
                    <button type="reset" class="btn btn-default btn-block">Cancelar</button>
                </div>
                <div class="col-xs-12 col-sm-2 form-group">
                    <button type="submit" class="btn btn-primary btn-block">Editar</button>
                </div>
            </div>

            <div class="row @(Model.NaoEnviouEmail ? "" : "invisible")">
                <div class="col-xs-12">
                    <div class="alert alert-warning" role="alert">
                        <p>Não foi possível enviar o e-mail ao usuário do cadastro, favor entrar em contato com o administrador do sistema ou tentar novamente mais tarde.</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>