@model StartIdea.Model.ScrumArtefatos.ProductBacklog

@{ViewBag.Title = "Detalhes - Backlog do Produto";}

<div class="page-header">
    <h1>Backlog Item - Detalhes<small> - Responsável: @Model.ProductOwner.Usuario.UserName</small></h1>
</div>


<div class="profile">
    <div class="row">
        <div class="col-md-4">
            <span><b>Data da Inclusão:</b> @Model.DataInclusao.ToString("dd/MM/yyyy")</span>
        </div>
        <div class="col-md-4">
            <span><b>Prioridade:</b> @Model.Prioridade</span>
        </div>
        <div class="col-md-4">
            <span><b>Tamanho:</b> @Model.StoryPoint</span>
            <button class="btn-link" data-toggle="modal" data-target=".bs-example-modal-sm">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
    <div class="row backlog-item-space">
        <div class="col-md-12">
            <label>Descrição</label>
            <br />
            <span>@Model.UserStory</span>
        </div>
    </div>
</div>
<div class="row backlog-item-space">
    <div class="col-md-2">
        @Html.ActionLink("< Voltar", "Index", "ProductBacklog", new { @class = "btn btn-default btn-block" })
    </div>
</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Histórico de Estimativas</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Usuário</th>
                            <th>Função</th>
                            <th>Estimativa</th>
                            <th>Data Estimativa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HistoricoEstimativas)
                        {
                            <tr>
                                <td>@item.MembroTime.Usuario.Nome</td>
                                <td>@item.MembroTime.Funcao</td>
                                <td>@item.StoryPoint</td>
                                <td>@item.DataInclusao</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>