@model PagedList.IPagedList<StartIdea.Model.ScrumArtefatos.ProductBacklog>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<div class="page-header">
    <h1>Backlog do Produto</h1>
</div>

@using (Html.BeginForm("Index", "ProductBacklog", FormMethod.Get))
{
    <div class="profile row">
        <div class="col-md-10">
            <label>Descrição</label>
            @Html.TextBox("contextoBusca", ViewBag.Filtro as string, new { @class = "form-control form-busca" })
        </div>
        <div class="col-md-2">
            <label>&nbsp;</label>
            <input type="submit" value="Buscar" class="btn btn-block btn-busca" />
        </div>
    </div>
        <div class="filtro-checkbox">
            <div class="col-md-4">
                <label>
                    <input type="checkbox" name="status" value="P" /> Pendente
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="checkbox" name="status" value="A" /> Em Processo
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="checkbox" name="status" value="C" /> Pronto
                </label>
            </div>
            <div class="both"></div>
        </div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Descrição</th>
            <th class="text-center">Tamanho</th>
            <th class="text-center">Prioridade</th>
            <th class="text-center">Detalhes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="70%">@item.UserStory</td>
                <td class="text-center" width="10%">@item.StoryPoint</td>
                <td class="text-center" width="10%">@item.Prioridade</td>
                <td class="text-center" width="10%">
                    <a href="@Url.Action("Detalhes", "ProductBacklog", new { item.Id })">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, pagina => Url.Action("Index",
        new { pagina, filtro = ViewBag.Filtro }))
