@model StartIdea.UI.ViewModels.ProductBacklogVM
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<div class="page-header">
    <h1>Backlog do Produto</h1>
</div>

@using (Html.BeginForm("Index", "ProductBacklog", FormMethod.Get))
{
    @Html.HiddenFor(model => model.sprintId)
    <div class="row">
        <div class="col-md-8">
            <label>Descrição</label>
            @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-2">
            <label>Tamanho</label>
            @Html.EnumDropDownListFor(model => model.tamanhos, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <label>&nbsp;</label>
            <input type="submit" value="Buscar" class="btn btn-block" />
        </div>
    </div>
}
<br />


<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Descrição</th>
            <th class="text-center">Tamanho</th>
            <th class="text-center">Prioridade</th>
            <th class="text-center">Detalhes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BackLogItem)
        {
            <tr>
                <td width="70%">@item.UserStory</td>
                <td class="text-center" width="10%">@item.StoryPoint</td>
                <td class="text-center" width="10%">@item.Prioridade</td>
                <td class="text-center" width="10%">
                    <a href="@Url.Action("Detalhes", "ProductBacklog", new { item.Id, sprintId = Model.sprintId })">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model.BackLogItem, pagina => Url.Action("Index",
        new { pagina, filtro = Model.Descricao, tamanhos = Model.tamanhos, sprintId = Model.sprintId }))
