<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">StartIdea</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-star"></span> Produto <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Backlog", "Index", "ProductBacklog", new { area = "" }, new { })</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-heart"></span> Sprints <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Cadastro", "Index", "Sprint", new { area = "" }, new { })</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-eye-open"></span> Acompanhamento <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Kanban do Time", "Index", "TeamKanbanBoard", new { area = "" }, new { })</li>
                        <li>@Html.ActionLink("Gráfico de Burndown", "Index", "BurndownChart", new { area = "" }, new { })</li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="visible-xs">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <hr />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="@Url.Action("Login", "Authentication", new { area = "" })">
                        <span class="glyphicon glyphicon-log-in"></span> Entrar
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>