@model StartIdea.UI.Areas.TeamMember.ViewModels.TarefaVM
@using PagedList.Mvc;

@section CustomScript{
    <script type="text/javascript">
        var displayCreate = "@Model.DisplayCreate";

        if (displayCreate) {
            $("#popup-create").modal('show');
        }

        $(".create").click(function () {
            var url = "@Html.Raw(Url.Action("Index", new { FiltroDescricao = Model.FiltroDescricao, PaginaGrid = Model.PaginaGrid, DisplayCreate = "show" }))";

            window.location.href = url;
        });

        $("#popup-create").on("hide.bs.modal", function () {
            window.location.href = "@Html.Raw(Url.Action("Index", new { FiltroDescricao = Model.FiltroDescricao, PaginaGrid = Model.PaginaGrid }))"
        });

    </script>
}

@Html.Partial("_Create", Model)

<div class="page-header">
    <h1>Tarefas <small>Cadastro</small></h1>
</div>

@using (Html.BeginForm("Index", "Tarefa", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-10">
            <label>Descrição</label>
            @Html.EditorFor(model => model.FiltroDescricao, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-2">
            <label>&nbsp;</label>
            <button class="btn btn-default btn-block" type="submit">Buscar</button>
        </div>
    </div>
}
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-2 col-md-1 text-center">Id</th>
                        <th class="col-sm-4 col-md-5">Descrição</th>
                        <th class="col-sm-2 text-center">Data Inclusão</th>
                        <th class="col-sm-1" colspan="2">
                            <button class="btn btn-success btn-xs btn-block create">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TarefaList)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.DataInclusao)
                            </td>
                            <td>
                                <button class="btn btn-primary btn-xs btn-block edit" data-id="@item.Id">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            @Html.PagedListPager(Model.TarefaList, PaginaGrid => Url.Action("Index", new { FiltroDescricao = Model.FiltroDescricao, PaginaGrid }))
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>