@model StartIdea.UI.Areas.ScrumMaster.ViewModels.DailyScrumVM
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Reuniões Diárias da Sprint</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        @if (Model.SprintId == 0)
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-info" role="alert">
                        <p>Não há sprint em andamento.</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-xs-12">
                    <div id="no-more-tables">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-sm-1 text-center">Id</th>
                                    <th>Local</th>
                                    <th class="col-sm-3 col-md-2 text-center">Data Inicial</th>
                                    <th class="col-sm-3 col-md-2 text-center">Data Final</th>
                                    <th class="col-sm-1">
                                        @if (Model.ReuniaoList.Count < 14)
                                        {
                                            <a class="btn btn-success btn-xs btn-block" title="Incluir" href="@Url.Action("Create")">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </a>
                                        }
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ReuniaoList)
                                {
                                    <tr>
                                        <td data-title="Id" class="text-center">
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td data-title="Local">
                                            @Html.DisplayFor(modelItem => item.Local)
                                        </td>
                                        <td data-title="Data Inicial" class="text-center">
                                            @Html.DisplayFor(modelItem => item.DataInicial)
                                        </td>
                                        <td data-title="Data Final" class="text-center">
                                            @Html.DisplayFor(modelItem => item.DataFinal)
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-justified" role="group" aria-label="operacoes">
                                                <div class="btn-group" role="group">
                                                    <a class="btn btn-primary btn-xs" title="Editar" href="@Url.Action("Edit", new { id = item.Id })">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group" role="group">
                                                    <a class="btn btn-danger btn-xs" title="Excluir" href="@Url.Action("Delete", new { Id = (item.Id) })" onclick="return confirm('Você tem certeza que deseja excluir esse registro?');">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        @Html.PagedListPager(Model.ReuniaoList, PaginaGrid => Url.Action("Index", new { PaginaGrid }))
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>