@model StartIdea.UI.Areas.ScrumMaster.ViewModels.SprintVM

@{
    ViewBag.Title = "Index";
}

@if (Model.SprintAtual != null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h3>Sprint Atual</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info" role="alert">
                    <a href="#" class="alert-link">Clique aqui para ver mais detalhes!</a>
                </div>
            </div>
        </div>
    </div>
}

<div class="container-fluid">
    @using (Html.BeginForm(Model.ActionForm, "Sprint", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h3>Próxima Sprint</h3>
                </div>
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProximaSprint.Id)

        <div class="row">
            <div class="col-xs-12 form-group">
                @Html.LabelFor(model => model.ProximaSprint.Objetivo)
                @Html.EditorFor(model => model.ProximaSprint.Objetivo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Objetivo ou Meta da Sprint" } })
                @Html.ValidationMessageFor(model => model.ProximaSprint.Objetivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 form-group">
                @Html.LabelFor(model => model.ProximaSprint.DataInicial)
                @Html.EditorFor(model => model.ProximaSprint.DataInicial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProximaSprint.DataInicial, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-6 form-group">
                @Html.LabelFor(model => model.ProximaSprint.DataFinal)
                @Html.EditorFor(model => model.ProximaSprint.DataFinal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProximaSprint.DataFinal, "", new { @class = "text-danger" })
            </div>
        </div>

        <button type="reset" class="btn btn-default">Cancelar</button>
        <button type="submit" class="btn btn-primary">@Model.SubmitValue</button>
    }
</div>
