@model StartIdea.UI.ViewModels.TarefaDetalhesVM
@{
    ViewBag.Title = "Detalhes da Tarefa";
}
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Tarefa - Detalhes <small>#@Model.tarefa.Id</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <span><b>Data da Inclusão:</b> @Model.tarefa.DataInclusao.ToString("dd/MM/yyyy")</span>
    </div>
    <div class="col-md-3">
        <span><b>Usuário Inclusão:</b> @Model.tarefa.MembroTime.Usuario.UserName</span>
    </div>
    @if (Model.tarefa.DataCancelamento != null)
    {
        <div class="col-md-4">
            <span><b>Data Cancelamento:</b> @Model.tarefa.DataCancelamento</span>
        </div>
    }
</div>
<br />
@if (Model.tarefa.DataCancelamento != null)
{
    <div class="row">
        <div class="col-md-12">
            <label>Motivo do Cancelamento</label>
            <p>@Model.tarefa.MotivoCancelamento</p>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <label>Sprint</label>
        <p>@Model.tarefa.SprintBacklog.Sprint.Id - @Model.tarefa.SprintBacklog.Sprint.Objetivo</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label>Backlog</label>
        <p>@Model.tarefa.SprintBacklog.ProductBacklog.UserStory</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label>Descrição</label>
        <p>@Model.tarefa.Descricao</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("< Voltar", "Index", "Tarefa", new { productBacklogId = Model.productBacklogId, sprintId = Model.sprintId }, new { @class = "btn btn-default btn-block" })
    </div>
</div>
<br />
<br />