@model StartIdea.UI.ViewModels.TarefaVM

@{
    ViewBag.Title = "Detalhes";
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Tarefa <small>Detalhes</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <label>Sprint</label>
        <p>@Model.TarefaView.SprintBacklog.Sprint.Id - @Model.TarefaView.SprintBacklog.Sprint.Objetivo</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <label>Backlog</label>
        <p>@Model.TarefaView.SprintBacklog.ProductBacklog.UserStory</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-1">
        <label>Id: </label>
        @Model.TarefaView.Id
    </div>
    <div class="col-sm-3">
        <label>Data Inclusão: </label>
        @Model.TarefaView.DataInclusao
    </div>
    <div class="col-sm-3">
        <label>Usuário Inclusão: </label>
        @Model.TarefaView.MembroTime.Usuario.UserName
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <label>Descrição</label>
        <pre class="limpa-tag">@Model.TarefaView.Descricao</pre>
    </div>
</div>

@if (Model.TarefaView.DataCancelamento != null)
{
    <div class="row">
        <div class="col-sm-3">
            <label>Data Cancelamento</label>
            <p>@Model.TarefaView.DataCancelamento</p>
        </div>
        <div class="col-sm-9">
            <label>Motivo do Cancelamento</label>
            <p>@Model.TarefaView.MotivoCancelamento</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-2 form-group">
        @Html.ActionLink("< Voltar", "Index", "Tarefa", new { productBacklogId = Model.ProductBacklogId, sprintId = Model.SprintId }, new { @class = "btn btn-default btn-block" })
    </div>
</div>