@model StartIdea.UI.ViewModels.TarefaVM

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Backlog da Sprint <small>Detalhes</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-5 col-md-4">
        <label>Data Inclusão: </label>
        @Model.productBacklog.DataInclusao
    </div>
    <div class="col-sm-2">
        <label>Prioridade: </label>
        @Model.productBacklog.Prioridade
    </div>
    <div class="col-sm-3 col-md-2">
        <label>Story Point: </label>
        @Model.productBacklog.StoryPoint
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <label>User Story</label>
        <p>@Model.productBacklog.UserStory</p>
    </div>
</div>

@if (Model.productBacklog.SprintBacklogs.Where(sb => sb.SprintId == Model.sprintId).FirstOrDefault().DataCancelamento != null)
{
    <div class="row">
        <div class="col-sm-3">
            <label>Data Cancelamento</label>
            <p>@Model.productBacklog.SprintBacklogs.Where(sb => sb.SprintId == Model.sprintId).FirstOrDefault().DataCancelamento</p>
        </div>
        <div class="col-sm-9">
            <label>Motivo do Cancelamento</label>
            <p>@Model.productBacklog.SprintBacklogs.Where(sb => sb.SprintId == Model.sprintId).FirstOrDefault().MotivoCancelamento</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12 form-group">
        <label>Tarefas</label>
        <div id="no-more-tables" class="center-block">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-1 text-center">Id</th>
                        <th>Descrição</th>
                        <th class="col-sm-3 col-md-2 text-center">Data Inclusão</th>
                        <th class="col-sm-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.tarefasBacklog)
                    {
                        <tr>
                            <td data-title="Id" class="text-center">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td data-title="Descrição">
                                @if (item.Descricao.Length > 150)
                                {
                                    var descricao = item.Descricao.Substring(0, 150) + "...";
                                    @Html.DisplayFor(modelItem => descricao)
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Descricao)
                                }
                            </td>
                            <td data-title="Data Inclusão" class="text-center">
                                @Html.DisplayFor(modelItem => item.DataInclusao)
                            </td>
                            <td>
                                <a class="btn btn-default btn-xs btn-block" title="Detalhes" href="@Url.Action("Details", "Tarefa", new { tarefaId = item.Id, productBacklogId = Model.productBacklogId, sprintId = Model.sprintId })">
                                    <i class="glyphicon glyphicon-search"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("< Voltar", "Details", "Sprint", new { Id = Model.sprintId }, new { @class = "btn btn-default btn-block" })
    </div>
</div>